@media all and (min-width:768px) {
    .container {
        max-width: 768px;
    }

    .nav__menu {
        display: flex;
        gap: 40px;
    }

    .nav__menu__link-active::after {
        content: "";
        width: 48px;
        height: 4px;
        background-color: #404bbf;
        border-radius: 2px;
        position: absolute;
        left: 0;
        bottom: -30px;
    }

    .address__menu {
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-self: center;
    }

    .address__menu__link {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
    }

    .menu-open-btn {
        display: none;
    }

    .solutions {
        padding: 112px 0;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/hero-bg-tab.jpg);
        max-width: 1158px;
    }

    @media screen and (min-resolution: 192dpi) {
        .solutions {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/hero-bg-tab-2x.jpg);
        }
    }

    .solutions__header {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
        letter-spacing: 0.02em;
    }

    .solutions__button {
        margin: 36px auto 0 auto;
    }

    .modal-window {
        width: 408px;
        padding: 72px 24px 24px 24px;
    }

    .features__list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    .features__list__item {
        width: calc((100% - 24px) / 2);
    }

    .features__list__item__header,
    .our-portfolio__list__item__description__header {
        text-align: left;
    }

    .our-team-container {
        max-width: 584px;
    }

    .our-team__list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 64px 24px;
    }

    .our-team__list__item {
        width: calc((100% - 24px) / 2);
    }

    .our-portfolio__list {
        flex-direction: row;
        gap: 72px 24px;
    }

    .our-portfolio__list__item {
        width: calc((100% - 24px) / 2);
    }

    .footer__list {
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 584px;
        gap: 72px 24px;
        justify-content: flex-start;
        padding: 0 15px 0 15px;
        align-items: baseline;
        margin: 0 auto;
    }

    .footer__list__logo-and-p {
        margin-left: 0;
        align-items: flex-start;
    }

    .footer__list__social {
        margin: 0;
    }

    .footer__list__social__text,
    .footer__list__subscribe__text {
        text-align: left;
    }

    .subscribe-form {
        flex-direction: row;
        gap: 24px;
    }

    .subscribe-form__input {
        width: 264px;
    }
}

/* ==========BIG-SCREEN========== */

@media all and (min-width:1158px) {
    .container {
        max-width: 1158px;
        padding: 24px 15px;
    }

    .nav__menu__link-active::after {
        bottom: -25px;
    }

    .address__menu {
        flex-direction: row;
        gap: 40px;
    }

    .address__menu__link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

    .solutions {
        padding: 188px 0;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/hero-bg.jpg);
        max-width: 1440px;
    }

    @media screen and (min-resolution: 192dpi) {
        .solutions {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/hero-bg-2x.jpg);
        }
    }

    .solutions__button {
        margin: 48px auto 0 auto;
    }

    .features {
        padding: 120px 0 120px 0;
    }

    .features__list {
        gap: 24px;
    }

    .features__list__item {
        width: calc((100% - 3 * 24px) / 4);
    }

    .features__list__item__header {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }

    .features__list__item_icon {
        border: 1px solid #8e8f99;
        background-color: #f4f4fd;
        border-radius: 4px;
        margin-bottom: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
    }

    .features__list__item__text {
        font-weight: 400;
    }

    .our-team {
        background-color: #f4f4fd;
        padding: 120px 0 120px 0;
    }

    .our-team__list {
        gap: 24px;
    }

    .our-team__list__item {
        width: calc((100% - 72px) / 4);
    }

    .our-portfolio {
        padding: 120px 0 120px 0;
    }

    .our-portfolio__list {
        gap: 48px 24px;
    }

    .our-portfolio__list__item {
        width: calc((100% - 48px) / 3);
    }

    .footer {
        padding: 100px 0;
    }

    .footer__logo {
        color: #4d5ae5;
        display: inline-block;
        margin: 0;
        padding: 0;
    }

    .footer__list {
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 0;
        max-width: 1158px;
    }

    .footer__list__logo-and-p {
        margin-right: 120px;
        margin-left: 0;
    }

    .footer__list__social {
        padding: 0;
        margin-right: 80px;
    }

    .subscribe-form {
        display: flex;
        gap: 24px;
    }

    .subscribe-form__button {
        margin: 0;
    }
}